.first{
    border: 2px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
}
.top{
    background: linear-gradient(pink,blue);
}
.second{
    border-radius: 80px;
}
.third{
    font-weight: 500;
    font-size: 15px;
    color: black;
}
.fourth{
    font-weight: 400;
    font-size: 60px;
}
.fifth{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.74);
}
.button{
    padding: 10px 35px;
    background: black;
    
}
.sixth{
    font-size: 18px;
    font-weight: 900;
    color: black;
}
.seventh{
    font-weight: 100;
    font-size: 13px;
}
.fa-star{
    color: lightgreen;
}
.eight{
    font-weight: 500;
    font-size: 15px;
}
.nineth{
    background: linear-gradient(blue,violet);
}
.tenth{
    font-size: 90px;
    font-weight: 300;

}
.eleven{
    border-radius: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.twelve{
    font-size: 20px;
    font-weight: 600;
}
.thirteen{
    border: 2px solid black;
    background: transparent;
    color: black;
    padding: 5px 17px;
    border-radius: 10px;
}
.fifteen{
    background: gold;
}
.nineteen{
    background: black;
}
.thirty{
    border: 2px solid blue;
    color: white;
    border-radius: 90%;
    background: blue;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.fifty{
    border: 2px solid indianred;
    color: white;
    border-radius: 90%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    background:indianred ;
    margin-left: 10px;
}
.sixty{
    border: 2px solid red;
    color: white;
    border-radius: 90%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    background:red ;
    margin-left: 10px;
    
}
.ninety{
    font-size: small;
}
.hundred{
    color: white;
}